body {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 0.7rem 0;
    margin-bottom: 1rem;
    box-shadow: 1px 1px 3px grey;
    background: linear-gradient(45deg, #da5b00, #e49a2a);
}

.select {
    text-align: center;
    margin: 1rem auto;
}

.controls {
    text-align: center;
    margin: 1rem auto;
}

.control-text {
    margin: 0.3rem auto;
}

.button-group {
    display: flex;
    justify-content: center;
}

.stories-container {
    /* border: 0.1rem solid green; */
    max-width: 700px;
    margin: 0 auto;
}
