body {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 0.7rem 0;
    margin-bottom: 1rem;
    box-shadow: 1px 1px 3px grey;
    background: linear-gradient(45deg, #da5b00, #e49a2a);
}
