.story {
    margin: 0.2rem 0;
    background-color: #e0dfdf;
    box-shadow: 0px 0px 1px;
    height: 45px;
    position: relative;
    font-size: 0.7rem;
}

.story-row {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

a {
    font-size: 0.9rem;
    text-decoration: none;
}

a:hover {
    background-color: grey;
    transition-duration: 500ms;
    cursor: pointer;
}

.number {
    padding-top: 0.2rem;
}

.source {
    padding-top: 0.2rem;
}

.rating-bars {
    width: 200px;
    font-size: 0.9rem;
    display: inline-block;
    position: absolute;
    top: 20px;
    left: calc(50% - 200px - 5px);
}

.rating-fill {
    background-color: #35e80d;
    direction: rtl;
    float: right;
    text-align: right;
    box-shadow: 0px 0px 2px;
}

.comment-bars {
    position: absolute;
    width: 200px;
    right: calc(50% - 200px - 5px);
    top: 20px;
    display: inline-block;
}

.comment-fill {
    float: left;
    background-color: #ffb30e;
    box-shadow: 0px 0px 2px;
    transition-property: background-color;
    transition-duration: 2s;
}

.comment-fill:hover {
    background-color: #ff0e0e;
    transition-duration: 500ms;
    cursor: pointer;
}

.time {
    padding-top: 0.4rem;
    float: right;
}
